<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.qcloud.presentation">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data
            android:name="com.tencent.rdm.uuid"
            android:value="3e20b7cc-0fa4-45b9-a3bd-c1c744eaa4b2" />

    </application>

</manifest>
